    @media screen and (max-width: 768px) {
        .container {
            width: 100%;
        }
    }

    @media screen and (max-width: 480px) {

        .container {
            width: 480px;
         }
    
        .row {
            flex-direction: column;
        }
    
        .row .col{
            width: 100%;
        }
    
        .card {
            padding-top: 50px;
        }
    
        .col-right {
            padding-top: 50px;
        }
    }